<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <p th:text="${error}"></p>
    <form method="post" action="/bestcampsite/createAccount/" th:object="${user}">
        <div>
            <label th:for="username">Username</label>
            <input th:value="${username}" th:field="*{username}"/>
        </div>
        <div>
            <label th:for="password">Password</label>
            <input type="password" th:field="*{password}"/>
        </div>
        <div>
            <label th:for="verify">Verify Password</label>
            <input type="password" name="verify" />
        </div>

        <input type="submit" value="Submit" />
    </form>

</body>
</html>